body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #636975;
}

header{
    position: fixed;
    text-align: center;
    background-color: #282c34;
    color: white;
    padding: 1em 0;
    width: 100vw;
    font-size: 2vh;
}

footer{
    text-align: center;
    background-color: #282c34;
    color: white;
    padding: 1em 0;
}

nav{
    margin: 1em 0;
}

nav button{
    background-color: #61dafb;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    color: #282c34;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav button:hover{
    background-color: #21a1f1;
}

main{
    padding: 1em;
}

section{
    margin: 2em 0;
    padding: 1em;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10em;
    margin-bottom: -8em;
}

#ionic{
    margin-bottom: 2em;
}

h2{
    color: #000000;
}

img{
    width: 15%;
}

@media (min-width: 650px) and (max-width: 960px) {
    header {
        padding: 0.5em 0;
        height: 19vh;
    }
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav button {
        width: 90%;
        padding: 15px;
        font-size: 18px;
    }


    section{
        margin-top: 20vh;
        margin-bottom: -9em;
    }

}

@media (max-width: 650px) {

    header {
        padding: 0.5em 0;
        height: 21vh;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav button {
        width: 90%;
        padding: 15px;
        font-size: 18px;
    }


    section {
        margin: 1.5em 0;
        padding: 0.5em;
        box-shadow: none;
        margin-top: 23vh;
        margin-bottom: -9em;
    }

    h2 {
        font-size: 24px;
        text-align: center;
    }

    p {
        font-size: 16px;
        line-height: 1.5em;
        text-align: justify;
    }
}
pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    color: #000000;
}


